@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #021f49;
	color-scheme: light dark;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #031b46;
		--foreground: #757575;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

.aboutMe-container h1 {
	text-align: left;
	padding: 10px;
	font-size: 40px;
}

.aboutMe-container p {
	text-align: left;
	padding: 10px;
	font-size: 18px;
}