.timeline {
	position: relative;
	max-width: 1200px;
	margin: 100px auto;
}

.container {
	padding: 10px 50px;
	position: relative;
	width: 50%;
	background: rgba(0, 0, 0, 0.3);
}

.text-box {
  padding: 20px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

@media (prefers-color-scheme: dark) {
	.container {
		background: rgba(255, 255, 255, 0.3);
	}
}
